.DS_Store
/back-end/node_modules/
/back-end/dist/
/back-end/npm-debug.log*
/back-end/yarn-debug.log*
/back-end/yarn-error.log*

/front-end/node_modules/
/front-end/dist/
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
